body {
	background-image: url(images/tree_bark.png);
	color: #000;
	font-family: 'Nunito', sans-serif;	
	margin: 0;
	font-size: 62.5%;
}

header {
	width: 100%;
}

#container {
	position: absolute;
	background: rgba(0,105,87,0.44);
	height: auto;
	width: 50%;
	left: 25%;
	border-radius: 5px;
	margin: 1em;
	padding: 0px 10px 10px 10px;
}

#container > h1 {
	margin-top: 0;
	font-size: 40px;
	border-bottom: 2px solid #000;
}
footer {
		background: rgba(0, 105, 87, 0.7);
	width: 100%;
	height: auto;
	position: absolute;
	top: 100%;
	left: 0%;
}

footer > a {
	text-decoration: none;
}
#nav > ul { 
	position: relative;
	top:20px;
	width: auto;
	margin: auto; 
	padding: 20px; 
	list-style-type: none; 
	text-align: center; 
	border-bottom-style: solid;
	border-bottom-width: 20px;
	border-bottom-color: #006957;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #006957;
	margin-bottom: 20px;
}
 
#nav > ul > li {  
	display: inline; 
	position: relative;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	width: 40px;
	} 
 
#nav > ul > li > a {
	text-decoration: none;
	padding: .2em 1em;
	color: #000;
	background-color: rbg(27, 27 ,27);
	} 
 
#nav > ul > li > a:hover { 
	color: #006957; 
	} 
	
#headerimg {
	display: block;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	top:0px;
	width:150px;
}
	
#logo {
	display: inline-block;
	position: relative;
	width: 10em;
	margin-top: -5em;
   margin-bottom: -5em;
}


	
#twitter {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/twitter.png) no-repeat;
		background-size: 6em;
	}

#twitter:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/twitter_hover.png) no-repeat;
		background-size: 6em;
	}
	
#jimbutton {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/jimbutton.png) no-repeat;
		background-size: 6em;	
	}

#jimbutton:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/jimbutton_hover.png) no-repeat;
		background-size: 6em;	
	}
	
#facebook {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/fbbutton.png) no-repeat;
		background-size: 6em;
	}

#facebook:hover {
		display: inline-block;
		position: relative;
		width: 6em;
		height: 6em;
		background: url(images/fbbutton_hover.png) no-repeat;
		background-size: 6em;
	}